/* CSS RESETS */

body {
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

button {
	font-family: "Roboto Flex", var(--font-fallback);
	all: unset;
}

button:hover {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

input[type="search"] {
	outline: none;
	border: none;
}

/* -------- */

/* --- Color System URL - ?primary=%23B75037&bodyFont=Roboto+Flex&displayFont=Roboto+Flex&colorMatch=false --- */

:root {
	--font-fallback: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--shadow3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--shadow4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	--shadow5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

	font-family: "Roboto Flex", var(--font-fallback);
}

body {
	display: grid;
	grid-template-areas:
		"nav header header"
		"nav main aside";
	grid-template-columns: 1fr 3fr 1fr;

	background-color: var(--md-sys-color-surface);
}

header {
	grid-area: header;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 0.5rem;

	padding: 1rem 3rem;

	background-color: var(--md-sys-color-surface-dim);
	color: var(--md-sys-color-on-surface);
	box-shadow: var(--shadow2);
}

.header-profile-icon {
	height: 5rem;
	width: 5rem;
}

.header-profile-icon-small {
	height: 3.5rem;
	width: 3.5rem;
}

header > .header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-row > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-row:first-child > div:first-child {
	flex-grow: 1;
}

.header-row:first-child > div:first-child > input[type="search"] {
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
	width: 75%;
}

.header-row:first-child > div:first-child > span {
	font-size: 1.5rem;
}

.header-row:first-child > div:last-child {
	gap: 1.25rem;
}

.header-row:first-child > div:last-child > button > span {
	font-size: 2rem;
}

.header-row:last-child > .header-row-buttons button {
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
	padding: 0.5rem 1.75rem;
	font-size: 1.25rem;
	border-radius: 1rem;
}

nav {
	grid-area: nav;

	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	padding: 1rem 1.5rem;

	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
}

.nav-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-buttons-section > li > a {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-buttons-section > li > a > * {
	font-size: 1.25rem;
}

.nav-buttons-section > li:not(:last-child) {
	margin: 0.75rem 0;
}

main {
	grid-area: main;

	padding: 2rem 1rem 0 1rem;

	color: var(--md-sys-color-on-surface);
}

main > .projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

	gap: 1rem;
	padding-top: 1rem;
}

.projects-container > div {
	background-color: var(--md-sys-color-surface-container-lowest);
	box-shadow: var(--shadow1);

	border-radius: 0.5rem;
	border-left: 0.5rem solid var(--md-sys-color-secondary);

	padding: 1rem;
}

.projects-container > div > div:last-child {
	display: flex;
	align-items: center;
	justify-content: end;

	gap: 0.75rem;
	padding-top: 2rem;
}

aside {
	grid-area: aside;

	display: grid;
	grid-template-rows: repeat(2, max-content);
	gap: 2rem;
	padding: 2rem 2rem 0 1rem;

	color: var(--md-sys-color-on-surface);
}

aside h1 {
	text-shadow: var(--shadow1);
}

.announcements-section > div,
.trending-section > div {
	background-color: var(--md-sys-color-surface-container-lowest);
	box-shadow: var(--shadow1);

	padding: 1rem;
	margin-top: 1rem;
	border-radius: 0.5rem;

	display: flex;
	flex-direction: column;
}

.announcements-section > div > div {
	padding: 1rem 0;
}

.announcements-section > div > div:not(:last-child) {
	border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.announcements-section > div > div > p:first-child {
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.trending-section > div {
	gap: 1rem;
}

.trending-section > div > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.trending-section > div > div > div > p:first-child {
	font-weight: bold;
}

.trending-section > div > div > div > p:last-child {
	color: var(--md-sys-color-outline);
}

.trending-section img {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
}
